<div class="form-group">
  <%= f.label :name, 'Name', class: 'col-sm-2 control-label' %>
  <div class="col-sm-2">
    <%= f.text_field :name, class:'form-control', placeholder: 'task name' %>
  </div>
</div>
<div class="form-group">
  <%= f.label :completed, 'Is Completed?', class: 'col-sm-2 control-label' %>
  <div class="col-sm-1">
    <%= f.check_box :completed, class:'form-control' %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-2">
    <%= submit_tag submit_btn_text || 'Submit', class:'btn btn-primary' %>
  </div>
</div>
