<h1><%= (params[:filter] || '').camelize %> TODO Tasks</h1>
<div>
  <% @tasks.each do |tsk| %>
  <p>
    <span class="glyphicon <%= tsk.completed ? 'glyphicon-saved' : 'glyphicon-unchecked' %>"></span>
    <label>
      <%= tsk.name %>
    </label>
    <span class="btn-group btn-group-sm">
      <%= link_to 'Edit', {action:'edit', id:tsk.id}, 'class'=>'btn btn-primary' %>
      <%= link_to 'Delete', {action:'delete', id:tsk.id, filter:params[:filter]}, 'class'=>'btn btn-danger' %>
    </span>
    </p>
  <% end %>
</div>
