<!DOCTYPE html>
<html>
<head>
  <title>RailsTodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <ul>
    <li><%= link_to 'View all tasks', controller:'task', action:'list', filter:'all' %></li>
    <li><%= link_to 'View uncompleted tasks', controller:'task', action:'list', filter:'uncompleted' %></li>
    <li><%= link_to 'View completed tasks', controller:'task', action:'list', filter:'completed' %></li>
  </ul>
</nav>
<%= yield %>

</body>
</html>
